/* header */
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: #042541;
  padding: 0px 4rem;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.item {
  padding:0 1rem;
}

.header-left .item:first-child {
  padding-left: 0;
}

.header-right .item:last-child {
  padding-right: 0;
}

.en {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #fff;
  font-size: 12px;
}

.en:hover {
  background-color: white;
  cursor: pointer;
  color: #042541;
}

/* header */
