/* header */
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: #042541;
  padding: 0px 4rem;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.item {
  padding: 1rem;
}

.header .dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0.5rem 0;
  top: 50px;
  left: 13px;
  width: 150px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px #ccc;
  border-radius: 5px;
  color: black;
}

.dropdown li {
  list-style: none;
  padding: 0.5rem 1rem;
}

.dropdown li:hover {
  color: #16181b;
  background-color: #f8f9fa;
  cursor: pointer;
}

.header .en {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #fff;
  font-size: 12px;
}

.en:hover {
  background-color: white;
  cursor: pointer;
  color: #042541;
}

/* header */
