/* content */
.container {
  width: 90%;
  margin-left: 5%;
}

.content {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.card {
  width: calc(100% / 6 - 1rem);
  margin: 1rem 0.5rem;
  box-shadow: 0 2px 8px #ccc;
  border-radius: 5px;
  position: relative;
}

.card img {
  display: block;
  background-color: white;
  width: 100%;
  height: 280px;
  border-radius: 5px 5px 0px 0px;
}

.dot {
  width: 25px;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-body {
  width: 100%;
  padding: 1.5rem 1rem;
  position: relative;
  font-size: 1rem;
}

.card-body h3 {
  font-size: 16px;
}

.card-body p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.percent {
  background-color: #081c22;
  color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -18px;
  left: 10px;
  border: 2px solid #21d07a;
}

.icon-percent {
  font-size: 8px;
  vertical-align: text-top;
}

.load-more {
  border-radius: 5px;
  background-color: #05b3e4;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
/* content */
